body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
header {
    position: relative;
    z-index: 100;
}
header .top-menu {
    position: relative;
    width: 100%;
    height: 40px;
}
header .top-menu::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
}
header .top-menu .site {
    float: left;
}
header .top-menu .site > li {
    float: left;
    width: 90px;
    line-height: 40px;
    border-left: 1px solid #e1e1e1;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 14px;
    color: #666;
    cursor: pointer;
}
header .top-menu .site > li:last-child {
    border-right: 1px solid #e1e1e1;
}
header .top-menu .site .select-box::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 6px;
    margin-left: 8px;
    background: url('/images/icon_down.png') no-repeat center / 100%;
}
header .top-menu .site .select-box.open {
    background-color: #fff;
}
header .top-menu .site .select-box.open::after {
    background: url('/images/icon_up.png') no-repeat center / 100%;
}
header .top-menu .site .select-box .option {
    display: none;
    position: absolute;
    top: 41px;
    width: 91px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    background-color: #fff;
    color: #666;
    font-size: 14px;
    z-index: 10;
}
header .top-menu .site .select-box .option.open {
    display: block;
}
header .top-menu .site .select-box .option li {
    padding-right: 10px;
    transition: 0.5s;
}
header .top-menu .site .select-box .option li:hover {
    background-color: #000;
    color: #fff;
}
header .top-menu .site li.active {
    background-color: #212121;
    color: #fff;
}
header .top-menu .utill {
    float: right;
    line-height: 40px;
}
header .top-menu .utill li {
    position: relative;
    float: left;
}
header .top-menu .utill li a {
    display: block;
    height: 100%;
    font-size: 14px;
}
header .top-menu .utill li:not(:first-child) {
    padding-left: 15px;
    margin-left: 15px;
}
header .top-menu .utill li:not(:first-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 0;
    width: 1px;
    height: 6px;
    background-color: #ccc;
}
header .gnb-menu {
    position: relative;
    width: 100%;
    height: 82px;
}
header .gnb-menu::after {
    content: '';
    position: absolute;
    top: 82px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
}
header .gnb-menu h1 {
    width: 212px;
    height: 100%;
    margin: 0 auto;
    background-image: url('/images/icon_logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
header .gnb-menu h1 a {
    display: block;
    height: 100%;
}
header .gnb-menu nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header .gnb-menu nav .gnb .depth1 {
    display: table-cell;
}
header .gnb-menu nav .gnb .depth1 > a {
    display: inline-block;
    position: relative;
    padding: 0 8px;
    font-size: 17px;
    font-weight: 500;
}
header .gnb-menu nav .gnb .depth1 > a:not(:last-child) {
    margin-right: 30px;
}
header .gnb-menu nav .gnb .depth1:hover > a {
    color: #ff4c4c;
    line-height: 82px;
}
@keyframes ani-gnb {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}
header .gnb-menu nav .gnb .depth1:hover > a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    background-color: #ff4c4c;
    animation: ani-gnb 0.2s;
}
header .gnb-bg {
    position: absolute;
    top: 123px;
    left: 0;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    z-index: -1;
    box-shadow: 0 10px 15px rgba(0 0 0 / 10%);
}
header .gnb-menu nav .gnb .depth1:hover .depth2 {
    display: block;
}
header .gnb-menu nav .gnb .depth1 .depth2 {
    display: none;
    position: absolute;
    top: 83px;
    left: 0;
    width: 1280px;
    padding: 45px 0 0 197px;
    box-sizing: border-box;
    z-index: 10;
}
header .gnb-menu nav .gnb .depth1 .depth2:nth-child(1) {
    height: 230px;
}
header .gnb-menu nav .gnb .depth1 .depth2:nth-child(2) {
    height: 782px;
}
header .gnb-menu nav .gnb .depth1 .depth2:nth-child(3) {
    height: 230px;
}
header .gnb-menu nav .gnb .depth1 .depth2:nth-child(4) {
    height: 550px;
}
header .gnb-menu nav .gnb .depth1 .depth2 .tit {
    position: absolute;
    top: 40px;
    left: 20px;
}
header .gnb-menu nav .gnb .depth1 .depth2 .tit strong {
    font-size: 30px;
    font-weight: bold;
}
header .gnb-menu nav .gnb .depth1 .depth2 .tit p {
    margin-top: 17px;
    line-height: 26px;
    font-size: 16px;
    color: #333;
}
header .gnb-menu nav .gnb .depth1 .depth2 .gnb-list {
    height: 100%;
}
header .gnb-menu nav .gnb .depth1 .depth2 .gnb-list > li {
    display: inline-block;
    width: 200px;
    margin: 0 0 40px 60px;
    vertical-align: top;
}
header .gnb-menu nav .gnb .depth1 .depth2 .gnb-list > li > a {
    display: block;
    height: 38px;
    line-height: 18px;
    font-size: 18px;
    font-weight: 500;
}
header .gnb-menu nav .gnb .depth1 .depth2 .gnb-list > li > a:hover {
    color: #ff4c4c;
}
header .gnb-menu nav .gnb .depth1 .depth2 .depth3 {
    padding-top: 18px;
    border-top: 1px solid #ccc;
}
header .gnb-menu nav .gnb .depth1 .depth2 .depth3 li a {
    font-size: 15px;
    line-height: 20px;
}
header .gnb-menu .gnb-etc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
header .gnb-menu .gnb-etc li {
    display: inline-block;
}
header .gnb-menu .gnb-etc li:not(:last-child) {
    margin-right: 30px;
}
header .gnb-menu .gnb-etc li.btn-chanel,
header .gnb-menu .gnb-etc li.btn-fee {
    display: inline-block;
    line-height: 18px;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
header .gnb-menu .gnb-etc li.btn-chanel {
    background-image: url('/images/icon_btn-chanel.png');
}
header .gnb-menu .gnb-etc li.btn-fee {
    background-image: url('/images/icon_btn-fee.png');
}
header .gnb-menu .gnb-etc .btn-chanel:hover {
    color: #ff4c4c;
    background-image: url('/images/icon_btn-chanel-hover.gif');
}
header .gnb-menu .gnb-etc .btn-fee:hover {
    color: #ff4c4c;
    background-image: url('/images/icon_btn-fee-hover.gif');
}
header .gnb-menu .gnb-etc li a {
    font-size: 13px;
    vertical-align: top;
}
header .gnb-menu .gnb-etc li.btn-search,
header .gnb-menu .gnb-etc li.btn-menu {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
}
header .gnb-menu .gnb-etc li.btn-search {
    background-image: url('/images/icon_btn-search.png');
    vertical-align: top;
}
header .gnb-menu .gnb-etc li.btn-menu {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 18px;
}
header .gnb-menu .gnb-etc li.btn-menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
header .gnb-menu .gnb-etc li.btn-menu span::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}
header .gnb-menu .gnb-etc li.btn-menu span {
    position: absolute;
    top: 0px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}
header .gnb-menu .gnb-etc li.btn-menu span::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 62px;
    background-color: #242527;
}
footer {
    position: relative;
    background-color: #1e1f21;
    padding-bottom: 45px;
}
footer::after {
    content: '';
    position: absolute;
    top: 135px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #303133;
}
footer .f-menu1 {
    line-height: 62px;
}
footer .f-menu1 li {
    position: relative;
    float: left;
}
footer .f-menu1 li:not(:first-child) {
    padding-left: 30px;
    margin-left: 30px;
}
footer .f-menu1 li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    display: inline-block;
    width: 1px;
    height: 9px;
    background-color: #3a3b3d;
}
footer .f-menu1 li a {
    color: #ddd;
    font-size: 13px;
}
footer .f-menu2 {
    line-height: 68px;
}
footer .f-menu2 li {
    float: left;
}
footer .f-menu2 li:not(:first-child) {
    margin-left: 30px;
}
footer .f-menu2 li a {
    color: #999;
    font-size: 13px;
}
footer .f-menu2 li a strong {
    color: #fff;
}
footer .f-info {
    padding-top: 40px; 
}
footer .f-info h2 {
    position: absolute;
    width: 155px;
    height: 26px;
    background: url('/images/icon_f-logo.png') no-repeat center;
}
footer .f-info h2 a {
    display: block;
    height: 100%;
}
footer .adress {
    float: left;
    margin: 0 130px 0 210px; 
}
footer .adress li {
    position: relative;
    line-height: 19px;
    padding-left: 120px;
    font-size: 12px;
    color: #c1c1c1;
}
footer .adress li:not(:first-child) {
    margin-top: 7px;
}
footer .adress li span {
    position: absolute;
    top: 0;
    left: 0;
    color: #999;
}
footer .adress p {
    margin-top: 30px;
    font-size: 11px;
    color: #999;
}
footer .tel {
    display: inline-block;
    margin-bottom: 20px;
}
footer .tel dl {
    font-size: 13px;
}
footer .tel dl:first-child {
    margin-bottom: 7px;
}
footer .tel dl dt {
    float: left;
    width: 75px;
    line-height: 24px;
    color: #999;
}
footer .tel dl dd {
    float: left;
    margin-left: 20px;
    font-size: 24px;
    color: #c1c1c1;
    vertical-align: top;
}
/* footer .tel dl:nth-child(2) dd:first-child::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 9px;
    background-color: #999;
} */
footer .tel dl dd a span {
    font-size: 12px;
}
footer .f-banner {
    display: inline-block;
    margin-left: 35px;
}
footer .f-banner li {
    float: left;
    margin-right: 30px;
}