body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
/* header {
    max-width: 1280px;
    margin: 0 auto;
} */
header .top-menu {
    position: relative;
    width: 100%;
    height: 40px;
}
header .top-menu::after {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
}
header .top-menu .site {
    float: left;
}
header .top-menu .site li {
    float: left;
    width: 90px;
    line-height: 40px;
    border-left: 1px solid #e1e1e1;
    background-color: #f0f0f0;
    text-align: center;
}
header .top-menu .site li:last-child {
    border-right: 1px solid #e1e1e1;
}
/* header .top-menu .site .select-box::after {
    width: 7px;
    height: 6px;
    background-image: url('/images/icon_down.png');
    background-repeat: no-repeat;
    background-position: center;
} */
header .top-menu .site li.active {
    background-color: #212121;
    color: #fff;
}
header .top-menu .site li a {
    display: block;
    height: 100%;
}
header .top-menu .utill {
    float: right;
    line-height: 40px;
}
header .top-menu .utill li {
    position: relative;
    float: left;
}
header .top-menu .utill li a {
    display: block;
    height: 100%;
    font-size: 14px;
}
header .top-menu .utill li:not(:first-child) {
    padding-left: 15px;
    margin-left: 15px;
}
header .top-menu .utill li:not(:first-child)::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 0;
    width: 1px;
    height: 6px;
    background-color: #ccc;
}
header .gnb-menu {
    position: relative;
    width: 100%;
    height: 82px;
}
header .gnb-menu::after {
    content: '';
    position: absolute;
    top: 82px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
}
header .gnb-menu h1 {
    width: 212px;
    height: 100%;
    margin: 0 auto;
    background-image: url('/images/icon_logo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
header .gnb-menu h1 a {
    display: block;
    height: 100%;
}
header .gnb-menu nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header .gnb-menu nav .gnb li {
    display: inline-block;
}
header .gnb-menu nav .gnb li:not(:last-child) {
    margin-right: 40px;
}
header .gnb-menu nav .gnb li a {
    font-size: 17px;
    display: block;
    height: 100%;
}
header .gnb-menu .gnb-etc {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
header .gnb-menu .gnb-etc li {
    display: inline-block;
}
header .gnb-menu .gnb-etc li:not(:last-child) {
    margin-right: 30px;
}
header .gnb-menu .gnb-etc li.btn-chanel,
header .gnb-menu .gnb-etc li.btn-fee {
    display: inline-block;
    line-height: 18px;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
header .gnb-menu .gnb-etc li.btn-chanel {
    background-image: url('/images/icon_btn-chanel.png');
}
header .gnb-menu .gnb-etc li.btn-fee {
    background-image: url('/images/icon_btn-fee.png');
}
header .gnb-menu .gnb-etc li a {
    font-size: 13px;
    vertical-align: top;
}
header .gnb-menu .gnb-etc li.btn-search,
header .gnb-menu .gnb-etc li.btn-menu {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: contain;
}
header .gnb-menu .gnb-etc li.btn-search {
    background-image: url('/images/icon_btn-search.png');
    vertical-align: top;
}
header .gnb-menu .gnb-etc li.btn-menu {
    position: relative;
    display: inline-block;
    width: 21px;
    height: 18px;
}
header .gnb-menu .gnb-etc li.btn-menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
header .gnb-menu .gnb-etc li.btn-menu span::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}
header .gnb-menu .gnb-etc li.btn-menu span {
    position: absolute;
    top: 0px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}
header .gnb-menu .gnb-etc li.btn-menu span::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 0;
    width: 21px;
    height: 1px;
    background-color: #000;
}