body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}
/* header {
    max-width: 1280px;
    margin: 0 auto;
} */
header .top-menu {
    position: relative;
    width: 100%;
    height: 45px;
}
header .top-menu::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
}
header .top-menu .site {
    float: left;
}
header .top-menu .site li {
    float: left;
    width: 90px;
    line-height: 40px;
    border-left: 1px solid #e1e1e1;
    background-color: #f0f0f0;
    text-align: center;
}
header .top-menu .site li:last-child {
    border-right: 1px solid #e1e1e1;
}
header .top-menu .site li.active {
    background-color: #212121;
    color: #fff;
}
header .top-menu .site li a {
    display: block;
    height: 100%;
}
header .top-menu .utill {
    float: right;
}
header .top-menu .utill li {
    float: left;
}