.mySwiper {
    display: block;
    height: 100%;
}
/* @index */
.main-slide {
    position: relative;
}
.main-slide .swiper-slide {
    width: 100%;
    height: 640px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
}
.main-slide .swiper-slide:nth-child(1),
.main-slide .swiper-slide:nth-child(4) {
    background-image: url('/images/bg_main-slide01.jpg');
}
.main-slide .swiper-slide:nth-child(2),
.main-slide .swiper-slide:nth-child(5) {
    background-image: url('/images/bg_main-slide02.jpg');
}
.main-slide .swiper-slide:nth-child(3) {
    background-image: url('/images/bg_main-slide03.jpg');
}
.main-slide .btn-wrap .btn {
    position: absolute;
    bottom: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #000;
    z-index: 1;
}
.main-slide .btn-wrap .btn.btn-next {
    background-image: url('/images/icon_main-right.png');
    right: 350px;
}
.main-slide .btn-wrap .btn.btn-prev {
    background-image: url('/images/icon_main-left.png');
    right: 420px;
}
.main-slide .slide-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: absolute;
    left: auto;
    bottom: auto;
    width: auto;
    top: 90%;
    right: 50%;
    transform: translateX(-50%);
    opacity: 1 !important;
     z-index: 1;
}
.main-slide .slide-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #222;
    border-radius: 50%;   
    background-color: #fff;
}
.main-slide .slide-pagination .swiper-pagination-bullet-active {
    background-color: #222;
}
/* @best-goods */
.best-goods {
    padding: 100px 0 160px;
    text-align: center;
}
.best-goods .tit-wrap::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
}
.best-goods .tit-wrap {
    position: relative;
    margin-bottom: 55px;
}
.best-goods .tit-wrap h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px 0;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: bold;
    background-color: #fff;
}
.best-goods .tit-wrap p {
    line-height: 26px;
    font-size: 15px;
}
.best-goods .goods-slide {
    width: 1080px;
    margin: 0 auto 65px;
    overflow: hidden;
}
.best-goods .goods-slide .swiper-slide {
    width: 340px !important;
    height: 506px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}
.best-goods .goods-slide .swiper-slide:nth-child(1) {
    background-image: url('/images/img_best-slide01.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(2) {
    background-image: url('/images/img_best-slide02.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(3) {
    background-image: url('/images/img_best-slide03.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(4) {
    background-image: url('/images/img_best-slide04.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(1).active {
    background-image: url('/images/img_best-slide01-active.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(2).active {
    background-image: url('/images/img_best-slide02-active.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(3).active {
    background-image: url('/images/img_best-slide03-active.gif');
}
.best-goods .goods-slide .swiper-slide:nth-child(4).active {
    background-image: url('/images/img_best-slide04-active.gif');
}
.best-goods .btn {
    display: inline-block;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center center;
}
.best-goods .btn-next {
    right: 0;
    background-image: url('/images/icon_best-right.png');
}
.best-goods .btn-prev {
    left: 0;
    background-image: url('/images/icon_best-left.png');
}
.best-goods .goods-slide .slide-pagination {
    position: absolute;
    width: auto;
    bottom: -67px;
    left: 50%;
    transform: translateX(-50%);
}
.best-goods .goods-slide .slide-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #000;
    background-color: #fff;
    opacity: 1;
}
.best-goods .goods-slide .slide-pagination .swiper-pagination-bullet-active {
    background-color: #000;
}
.best-goods .best-data {
    position: relative;
    display: none;
}
.best-goods .best-data.on {
    display: block;
}
.best-goods .best-data .best-box {
    margin-right: 160px;
}
.best-goods .best-data.data1 .best-box dl {
    width: calc(100% / 5);
}
.best-goods .best-data.data2 .best-box dl,
.best-goods .best-data.data4 .best-box dl {
    width: calc(100% / 4);
}
.best-goods .best-data.data3 .best-box dl {
    width: calc(100% / 3);
}
.best-goods .best-data .best-box dl {
    position: relative;
    float: left;
    height: 130px;
    padding-top: 26px;
    border-right: 1px solid #474747;
    box-sizing: border-box;
    text-align: center;
    background-color: #000;
}
.best-goods .best-data .best-box dl:nth-child(1) {
    border-radius: 5px 0 0 5px;
}
.best-goods .best-data .best-box dl dt {
    margin-bottom: 3px;
    font-size: 22px;
    color: #ff4c4c;
    font-weight: bold;
}
.best-goods .best-data .best-box dl dt .plus,
.best-goods .best-data .best-box dl dt .sum {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    width: 20px;
    height: 20px;
}
.best-goods .best-data .best-box dl dt .plus {
    background: url('/images/icon_plus.png') no-repeat center;
}
.best-goods .best-data .best-box dl dt .sum {
    background: url('/images/icon_sum.png') no-repeat center; 
}
.best-goods .best-data .best-box dl button {
    padding: 4px 17px;
    margin-top: 10px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    background-color: #000;
}
.best-goods .best-data .best-box dl dd ul li:nth-child(1) {
    line-height: 22px;
    margin-bottom: 4px;
    font-size: 14px;
    color: #fff;
}
.best-goods .best-data .best-box dl dd ul li:nth-child(1) strong {
    font-size: 24px;
}
.best-goods .best-data .best-box dl dd ul li:nth-child(2) {
    line-height: 13px;
    font-size: 13px;
    color: #a9a9a9;
}
.best-goods .best-data a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 160px;
    height: 130px;
    line-height: 130px;
    border-radius: 0 5px 5px 0;
    background-color: #ff4c4c;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
/* @vod-intro */
.vod-intro {
    position: relative;
    height: 850px;
    background: url('/images/bg_vod.jpg') no-repeat center center;
}
.vod-intro h2 {
    line-height: 56px;
    padding-top: 110px;
    margin-bottom: 40px;
    color: #fff;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.vod-intro .vod-slide {
    width: 953px;
    margin: 0 auto;
    overflow: hidden;
}
.vod-intro .vod-slide .swiper-slide .img-wrap {
    margin-bottom: 30px;
}
.vod-intro .vod-slide .swiper-slide .img-wrap img {
    width: 100%;
    height: 100%;
}
.vod-intro .vod-slide .swiper-slide .text-wrap strong {
    display: inline-block;
    width: 250px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.vod-intro .vod-slide .swiper-slide .text-wrap p {
    width: 250px;
    height: 48px;
    line-height: 24px;
    font-size: 14px;
    color: #fff;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.vod-intro .vod-slide .btn {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #313131;
}
.vod-intro .vod-slide .btn-next {
    right: 0;
    background-image: url('/images/icon_main-right.png');
}
.vod-intro .vod-slide .btn-prev {
    left: 0;
    background-image: url('/images/icon_main-left.png');
}
.vod-intro .vod-slide .slide-pagination {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;
    width: auto;
    text-align: center;
}
.vod-intro .vod-slide .slide-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    opacity: 1;
}
.vod-intro .vod-slide .slide-pagination .swiper-pagination-bullet-active {
    background-color: #fff;
}
/* @homeLiving-goods */
.homeLiving-goods {
    padding: 100px 0 150px;
    margin: 0 auto;
    text-align: center;
}
.homeLiving-goods .tit-wrap {
    margin-bottom: 105px;
}
.homeLiving-goods .tit-wrap h2 {
    line-height: 56px;
    margin-bottom: 15px;
    font-size: 38px;
    font-weight: bold;
}
.homeLiving-goods ul li::before {
    content: '';
    position: absolute;
    top: -75px;
    left: -100px;
    width: 316px;
    height: 316px;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/images/bg_homeliving.png');
    transition: all 0.3s ease-in-out;
    transform: scale(0.95, 0.95);
}
.homeLiving-goods ul li:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
@keyframes ani-transY {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0px);
    }
}
.homeLiving-goods ul li:hover .img-wrap {
    animation: ani-transY 0.5s 2 ease-in-out;
}
.homeLiving-goods ul li:hover span {
    color: #fff;
}
.homeLiving-goods ul li {
    position: relative;
    display: inline-block;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center 0;
    cursor: pointer;
}
.homeLiving-goods ul li:nth-child(1) {
    margin-right: 125px;
}
.homeLiving-goods ul li a .img-wrap {
    position: relative;
    display: block;
    width: 50px;
    height: 45px;
    margin: 0 auto 20px;
}
.homeLiving-goods ul li a .img-wrap img {
    width: 100%;
}
.homeLiving-goods ul li a .img-wrap img:nth-child(2) {
    vertical-align: super;
}
.homeLiving-goods ul li a span {
    position: relative;
    display: block;
    font-size: 22px;
}
/* @board-wrap */
.board-wrap {
    line-height: 80px;
    box-sizing: border-box;
    padding: 0 20px;
}
.board-wrap h3 {
    float: left;
    font-weight: bold;
}
.board-wrap p {
    float: left;
    margin: 0 35% 0 135px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.board-wrap span {
    float: left;
    margin-right: 100px;
    font-size: 14px;
    color: #666;
}
.board-wrap .more {
    float: right;
    font-size: 13px;
    text-decoration: underline;
    color: #222;
}
/* @timesale-area */
.timesale-area .contents {
    padding-top: 100px;
}
.timesale-area .contents h2 {
    margin-bottom: 30px;
    font-size: 34px;
    text-align: center;
    color: #222;
    font-weight: bold;
}
.timesale-area .contents .bene-list {
    margin-bottom: 50px;
}
.timesale-area .contents .bene-list li {
    float: left;
    width: calc((100% - 75px) / 4);
}
.timesale-area .contents .bene-list li:not(:last-child) {
    margin-right: 25px;
}
.timesale-area .contents .bene-list li img {
    width: 100%;
    height: 100%;
}
.timesale-area .contents .notice {
    padding: 40px;
}
.timesale-area .contents .notice dt {
    display: inline-block;
    margin-right: 60px;
    color: #222;
}
.timesale-area .contents .notice dd {
    display: inline-block;
    font-size: 14px;
    color: #666;
    vertical-align: middle;
}
.timesale-area .contents .notice dd ul li:not(:last-child) {
    margin-bottom: 30px;
}
.timesale-area .honey-event {
    position: relative;
    padding: 25px 0 80px 0;
    margin-bottom: 20px;
    background-color: #f6f6f6;
}
.timesale-area .honey-event h2 {
    margin-bottom: 50px;
    line-height: 50px;
    font-size: 34px;
    font-weight: bold;
    color: #222;
    text-align: center;
}
.timesale-area .honey-event .more {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 15px;
    color: #666;
}
.timesale-area .honey-event .more::before {
    content: '';
    position: absolute;
    top: 5px;
    right: 0;
    width: 7px;
    height: 2px;
    background-color: #000;
    transform: rotate(45deg);
}
.timesale-area .honey-event .more::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 0;
    width: 7px;
    height: 2px;
    background-color: #000;
    transform: rotate(-45deg);
}
.timesale-area .honey-event .honey-list li {
    float: left;
    width: calc((100% - 80px) / 3);
}
.timesale-area .honey-event .honey-list li:not(:last-child) {
    margin-right: 40px;
}
.timesale-area .honey-event .honey-list li a .img-wrap {
    margin-bottom: 25px;
}
.timesale-area .honey-event .honey-list li a .text-wrap p {
    font-size: 17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* @bargain-area */
.bargain-area .banner-wrap {
    margin-bottom: 60px;
}
.bargain-area .notice {
    padding: 80px 0;
    margin-bottom: 30px;
    background-color: #ecf9f5;
    text-align: center;
}
.bargain-area .notice h3 {
    margin-bottom: 30px;
    font-size: 34px;
    color: #222;
    font-weight: bold;
}
.bargain-area .notice ul {
    text-align: center;
    margin-bottom: 30px;
}
.bargain-area .notice ul li {
    display: inline-block;
}
.bargain-area .notice p {
    position: relative;
    padding-top: 15px;
    font-size: 14px;
    color: #666;
}
.bargain-area .notice p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background-color: #000;
}
/* @event-area @benefit-area */
.event-area .tab-con ul li,
.benefit-area .tab-con ul li {
    float: left;
    width: calc((100% - 80px) / 3);
    margin-bottom: 60px;
    box-sizing: border-box;
}
.event-area .tab-con ul li:not(:nth-child(3n)),
.benefit-area .tab-con ul li:not(:nth-child(3n)) {
    margin-right: 40px;
}
.event-area .tab-con ul li .img-wrap,
.benefit-area .tab-con ul li .img-wrap {
    position: relative;
    margin-bottom: 30px;
}
.event-area .tab-con ul li .img-wrap span,
.benefit-area .tab-con ul li .img-wrap span {
    display: inline-block;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.event-area .tab-con ul li .text-wrap span,
.benefit-area .tab-con ul li .text-wrap span {
    display: block;
    margin-top: 30px;
    font-size: 13px;
    color: #333;
}
.event-area .tab02 table,
.benefit-area .tab02 table {
    width: 100%;
}
.event-area .tab02 table thead,
.benefit-area .tab02 table thead {
    line-height: 52px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #e1e1e1;
    background-color: #eee;
    font-size: 18px;
    font-weight: 500;
    color: #222;
}
.event-area .tab02 table tbody,
.benefit-area .tab02 table tbody { 
    border-bottom: 1px solid #e1e1e1;
    font-size: 17px;
    color: #666;
    text-align: center;
}
.event-area .tab02 table tbody tr,
.benefit-area .tab02 table tbody tr {
    line-height: 65px;
    border-bottom: 1px solid #e1e1e1;
}
.event-area .tab03 ul li .img-wrap::before,
.benefit-area .tab03 ul li .img-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
}
/* @card-area */
.card-area {
    padding-bottom: 120px;
}
.card-area .card-list {
    border-top: 2px solid #222;
    border-bottom: 2px solid #222;
}
.card-area .card-list ul li {
    padding: 40px 0 40px 30px;
}
.card-area .card-list ul li:not(:first-child) {
    border-top: 1px solid #e1e1e1;
}
.card-area .card-list ul li .img-wrap {
    float: left;
    margin-right: 50px;
}
.card-area .card-list ul li .text-wrap {
    display: inline-block;
}
.card-area .card-list ul li .text-wrap h3 {
    line-height: 36px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #222;
}
.card-area .card-list ul li .text-wrap p {
    line-height: 26px;
    font-size: 20px;
    color: #007d6b;
}
.card-area .card-list ul li .text-wrap dl {
    margin: 20px 0;
}
.card-area .card-list ul li .text-wrap dl dt {
    margin-bottom: 12px;
    font-weight: 500;
    color: #222; 
}
.card-area .card-list ul li .text-wrap dl dd {
    line-height: 22px;
    margin-bottom: 8px;
    color: #666;
}
.card-area .card-list ul li .text-wrap dl dd b {
    font-weight: bold;
    color: #666;
}
.card-area .card-list ul li:nth-child(3) .text-wrap dd:last-child {
    padding-left: 17px;
}
.card-area .card-list ul li .text-wrap .btn {
    display: inline-block;
    width: 160px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: #999;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.card-area .notice {
    padding: 40px 0 40px 30px;
    margin-bottom: 60px;
    border-bottom: 1px solid #e1e1e1;
}
.card-area .notice dl dt {
    margin-bottom: 12px;
    color: #222;
}
.card-area .notice dl dd {
    line-height: 22px;
    margin-bottom: 8px;
    color: #666;
}
.card-area .banner-wrap {
    width: 100%;
    padding: 60px 0;
    background: url('/images/img_card-banner.jpg') no-repeat center / cover;
    color: #fff;
}
.card-area .banner-wrap span {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    padding-left: 30px;
    font-size: 20px;
    vertical-align: top;
}
.card-area .banner-wrap span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 1px;
    height: 17px;
    background-color: #fff;
}
.card-area .banner-wrap b {
    font-size: 30px;
    font-weight: bold;
}
/* @customer-area */
.customer-area {
    padding-bottom: 150px;
}
.customer-area h3 {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #222;
}
.customer-area .more {
    position: absolute;
    top: 7px;
    right: 0;
    padding-right: 20px;
    font-size: 14px;
    color: #202020;
    background: url('/images/icon_customer-more.png') no-repeat right;
}
.customer-area .banner-wrap {
    padding: 60px 0;
    margin-bottom: 75px;
    background: url('/images/bg-customer-banner.jpg') no-repeat center;
}
.customer-area .banner-wrap h2 {
    margin-bottom: 30px;
    font-size: 42px;
    font-weight: bold;
    color: #222;
}
.customer-area .banner-wrap p {
    margin-bottom: 45px;
    font-size: 18px;
    color: #666;
}
.customer-area .banner-wrap ul li {
    display: inline-block;
}
.customer-area .banner-wrap ul li a {
    display: inline-block;
    position: relative;
    width: 160px;
    line-height: 60px;
    padding-left: 30px;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}
.customer-area .banner-wrap ul li a::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 26px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}
.customer-area .banner-wrap ul li:nth-child(1) a::before {
    background-image: url('/images/icon_customer-banner01.jpg');
    left: 26px;
}
.customer-area .banner-wrap ul li:nth-child(2) a::before {
    background-image: url('/images/icon_customer-banner02.jpg');
    left: 20px;
}
.customer-area .banner-wrap ul li:nth-child(3) a::before {
    background-image: url('/images/icon_customer-banner03.jpg');
    left: 20px;
}
.customer-area .banner-wrap ul li:nth-child(4) a::before {
    background-image: url('/images/icon_customer-banner04.jpg');
    left: 26px;
}
.customer-area .banner-wrap ul li:nth-child(5) a::before {
    background-image: url('/images/icon_customer-banner05.jpg');
    left: 43px;
}
.customer-area .banner-wrap ul li:nth-child(6) a::before {
    background-image: url('/images/icon_customer-banner06.png');
    left: 43px;
}
.customer-area .banner-wrap ul li:not(:last-child) {
    margin-right: 10px;
}
.customer-area .help-box {
    padding: 52px 12px 60px;
    border: 1px solid #e1e1e1;
    text-align: center;
    box-sizing: border-box;
}
.customer-area .help-box p {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #222;
}
.customer-area .help-box input {
    width: 490px;
    height: 50px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #222;
    box-sizing: border-box;
}
/* .customer-area .help-box input::placeholder  {
    font-size: 14px;
    color: #666;
}
.customer-area .help-box input:-webkit-input-placeholder {
    font-size: 14px;
    color: #666;
}
.customer-area .help-box input:-moz-placeholder {
    font-size: 14px;
    color: #666;
} */
.customer-area .help-box button {
    width: 50px;
    height: 50px;
    margin-left: -3px;
    background: url('/images/icon_customer_search.png') no-repeat center #222;
    vertical-align: top;
}
.customer-area .qna-box {
    position: relative;
}
.customer-area .qna-box .qna-nav {
    margin-bottom: 45px;
}
.customer-area .qna-box .qna-nav li {
    float: left;
    width: calc(100% / 8);
    line-height: 60px;
    border: 1px solid #e1e1e1;
    font-size: 18px;
    color: #666;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}
.customer-area .qna-box .qna-nav li.on {
    position: relative;
    border: 1px solid #ff4c4c;
    background-color: #ff4c4c;
    font-weight: bold;
    color: #fff;
}
.customer-area .qna-box .qna-nav li.on::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #ff4c4c;
}
.customer-area .qna-ui {
    border-top: 1px solid #222;
}
.customer-area .qna-ui li p {
    position: relative;
    padding: 32px 25px 32px 75px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    color: #222;
}
.customer-area .qna-ui li p .q {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    font-size: 22px;
    font-weight: bold;
}
.customer-area .qna-ui li p .q.on {
    color: #ff4c4c;
}
.customer-area .qna-ui li .qna-open {
    display: none;
    position: relative;
    padding: 32px 25px 32px 75px;
    border-bottom: 1px solid #afafaf;
    background-color: #f8f8f8;
}
.customer-area .qna-ui li .qna-open.active {
    display: block;
}
.customer-area .qna-ui li .qna-open .a {
    position: absolute;
    top: 40px;
    left: 25px;
    font-size: 22px;
}
.customer-area .qna-ui li .qna-open .a.on {
    color: #ff4c4c;
}
.customer-area .qna-ui li .qna-open ul li {
    color: #666;
}
.customer-area .qna-ui li .qna-open ul li:not(:last-child) {
    margin-bottom: 20px;
}
.customer-area .self-guide {
    position: relative;
}
.customer-area .self-guide .self-list .self-item {
    float: left;
    width: calc((100% - 30px) / 4);
    height: 368px;
    padding: 55px 35px;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}
.customer-area .self-guide .self-list .self-item:not(:last-child) {
    margin-right: 10px;
}
.customer-area .self-guide .self-list .self-item strong {
    display: block;
    padding-top: 65px;
    margin-bottom: 25px;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 28px;
    font-weight: bold;
    color: #222;
    text-align: center;
}
.customer-area .self-guide .self-list .self-item:nth-child(1) strong {
    background-image: url('/images/icon_customer-self01.png');
}
.customer-area .self-guide .self-list .self-item:nth-child(2) strong {
    background-image: url('/images/icon_customer-self02.png');
}
.customer-area .self-guide .self-list .self-item:nth-child(3) strong {
    background-image: url('/images/icon_customer-self03.png');
}
.customer-area .self-guide .self-list .self-item:nth-child(4) strong {
    background-image: url('/images/icon_customer-self04.png');
}
.customer-area .self-guide .self-list .self-item ul li {
    position: relative;
    line-height: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 17px;
    color: #666;
}
.customer-area .self-guide .self-list .self-item ul li::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #222;
}
.customer-area .service ul {
    padding: 0 30px;
}
.customer-area .service ul li {
    position: relative;
    float: left;
    width: 220px;
    height: 220px;
    line-height: 20px;
    padding-top: 120px;
    border-radius: 50%;
    background-color: #f9fafa;
    font-size: 16px;
    color: #222;
    text-align: center;
    box-sizing: border-box;
}
.customer-area .service ul li:not(:last-child) {
    margin-right: 30px;
}
.customer-area .service ul li::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 85px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: top;
}
.customer-area .service ul li:nth-child(1)::before {
    background-image: url('/images/icon_customer-service01.png');
}
.customer-area .service ul li:nth-child(2)::before {
    background-image: url('/images/icon_customer-service02.png');
}
.customer-area .service ul li:nth-child(3)::before {
    background-image: url('/images/icon_customer-service03.png');
}
.customer-area .service ul li:nth-child(4)::before {
    background-image: url('/images/icon_customer-service04.png');
}
.customer-area .service ul li:nth-child(5)::before {
    background-image: url('/images/icon_customer-service05.png');
}
.customer-area .service ul li:hover {
    background-color: #007d6b;
    color: #fff;
}
.customer-area .service ul li:nth-child(1):hover::before {
    background-image: url('/images/icon_customer-service01-hover.png');
}
.customer-area .service ul li:nth-child(2):hover::before {
    background-image: url('/images/icon_customer-service02-hover.png');
}
.customer-area .service ul li:nth-child(3):hover::before {
    background-image: url('/images/icon_customer-service03-hover.png');
}
.customer-area .service ul li:nth-child(4):hover::before {
    background-image: url('/images/icon_customer-service04-hover.png');
}
.customer-area .service ul li:nth-child(5):hover::before {
    background-image: url('/images/icon_customer-service05-hover.png');
}
.customer-area .notice {
    position: relative;
}
.customer-area .notice table {
    width: 100%;
}
.customer-area .notice table thead th {
    line-height: 52px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #e1e1e1;
    background-color: #eee;
    font-size: 18px;
    color: #222;
}
.customer-area .notice table tbody td {
    line-height: 60px;
    padding: 0 10px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 17px;
    color: #666;
}
.customer-area .notice table tbody td.num {
    width: 105px;
    text-align: center;
}
.customer-area .notice table tbody td.text {
    cursor: pointer;
}
.customer-area .notice table tbody td.date {
    width: 110px;
    text-align: center;
}