@media screen and (max-width: 1300px) {
    /* common */
    .banner-wrap {
        max-width: 1300px;
        height: 280px;
    }
    .paging {
        padding-bottom: 20px;
    }
    header .top-menu .utill {
        padding-right: 20px;
    }
    header .gnb-menu {
        padding: 0 20px;
        box-sizing: border-box;
    }
    header .gnb-menu nav .gnb .depth1 > a {
        font-size: 15px;
    }
    header .gnb-menu nav .gnb .depth1 > a:not(:last-child) {
        margin-right: 10px;
    }
    header .gnb-menu .gnb-etc li:not(:last-child) {
        margin-right: 20px;
    }
    footer {
        padding: 0 20px 45px;
    }
    footer .adress {
        margin: 0 100px 0 210px;
    }
    footer .f-banner li:not(:last-child) {
        margin-right: 10px;
    }
    footer .f-banner li img {
        height: 20px;
    }
    footer .tel dl dd {
        font-size: 13px;
    }
    /* @index */
    .main-slide {
        height: 460px;
        object-fit: cover;
    }
    .main-slide .btn-wrap .btn {
        bottom: 50%;
        transform: translateY(50%);
    }
    .main-slide .btn-wrap .btn.btn-next {
        right: 0;
    }
    .main-slide .btn-wrap .btn.btn-prev {
        right: 70px;
    }
    .best-goods .goods-slide {
        width: 1020px;
        overflow: hidden;
    }
    .best-goods .goods-slide .swiper-slide {
        margin-right: 0 !important;
    }
    .best-goods .btn {
        display: none;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center center;
    }
    .board-wrap p {
        margin: 0 15% 0 135px;
    }
    /* @timesale-area */
    .banner-wrap.h420 {
        height: 420px;
    }
    .timesale-area .inner-wrap,
    .bargain-area .inner-wrap, 
    .benefit-area .inner-wrap,
    .event-area .inner-wrap,
    .customer-area .inner-wrap,
    .question-area .inner-wrap,
    .ars-area .inner-wrap {
        padding: 0 10px;
    }
    .timesale-area .honey-event .more {
        margin-right: 15px;
    }
    .timesale-area .honey-event .honey-list {
        padding: 0 15px;
    }
    .timesale-area .honey-event .honey-list li img {
        width: 100%;
        height: 100%;
    }
    /* @bargain-area */
    .bargain-area .notice ul li {
        width: 165px;
        height: 165px;
    }
    .bargain-area .notice ul li img {
        width: 100%;
        height: 100%;
    }
    /* @event-area @benefit-area */
    .event-area .tab-con ul li, .benefit-area .tab-con ul li {
        margin-bottom: 30px;
    }
    .card-area .card-list ul li .text-wrap dl dd {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .card-area .banner-wrap {
        height: 60px;
    }
    /* @customer-area */
    .customer-area .banner-wrap {
        height: 218px;
        padding: 60px 0 45px;
    }
    .customer-area .banner-wrap ul li a {
        width: 140px;
        line-height: 50px;
        padding-left: 27px;
    }
    .customer-area .banner-wrap ul li a::before {
        height: 50px;
    }
    .customer-area .banner-wrap ul li:nth-child(1) a::before,
    .customer-area .banner-wrap ul li:nth-child(2) a::before,
    .customer-area .banner-wrap ul li:nth-child(3) a::before,
    .customer-area .banner-wrap ul li:nth-child(4) a::before {
        left: 10px;
    }
    .customer-area .banner-wrap ul li:nth-child(5) a::before,
    .customer-area .banner-wrap ul li:nth-child(6) a::before {
        left: 30px;
    }
    .customer-area .self-guide .self-list .self-item ul li {
        font-size: 15px;
    }
    .customer-area .service ul li {
        width: 156px;
        height: 156px;
        padding-top: 90px;
    }
    .customer-area .service ul li::before {
        top: 25px;
    }
    /* @question */
    .question-area .help-box {
        padding: 0 12px 60px;
        border: none;
    }
    /* @ars-area */
    .ars-area .box {
        padding-left: 33%;
    }
    .ars-area .box::before {
        left: 4%;
    }
}
@media screen and (max-width : 1024px) {
    header .top-menu {
        height: 0;
    }
    header .top-menu .site {
        position: absolute;
        top: 16px;
        left: 61.5%;
        width: 38.5%;
    }
    header .top-menu .site > li {
        display: none;
        line-height: 0;
        border-left: none;
        text-align: center;
        font-size: 14px;
        color: #666;
        cursor: pointer;
    }
    header .top-menu .site > li.active,
    header .top-menu .site > li.has-child {
        display: block;
    }
    header .top-menu .site > li.active {
        height: 28px;
        line-height: 28px;
        background-color: #fff;
        color: #666;
        font-size: 15px;
        background: url('/images/icon_down02.png') no-repeat 67px 13px / 7px auto;
    }
    header .top-menu .site > li.has-child {
        position: absolute;
        top: 0;
        right: 12px;
        border: none;
        background: none;
    }
    header .top-menu .site > li.has-child a {
        display: inline-block;
        padding-top: 22px;
        background: url('/images/icon_site_haschild.png') no-repeat 10px 0 / 17px auto;
        font-size: 9px;
        color: #222;
    }
    header .top-menu .site .select-box::after {
        display: none;
    }
    header .top-menu .utill {
        display: none;
    }
    header .top-menu::after {
        display: none;
    }
    header .top-menu .mobile-menu {
        position: absolute;
        top: 20px;
        left: 12px;
        width: 21px;
        height: 18px;
        cursor: pointer;
    }
    header .top-menu .mobile-menu span {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
    }
    header .top-menu .mobile-menu span:nth-child(1) {
        top: 0;
    }
    header .top-menu .mobile-menu span:nth-child(2) {
        top: 8px;
    }
    header .top-menu .mobile-menu span:nth-child(3) {
        bottom: 0;
    }
    header .gnb-menu::after {
        top: 90px;
    }
    header .gnb-menu h1 {
        position: absolute;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        width: 190px;
        height: 28px;
        background-size: auto 28px;
    }
    header .gnb-menu .web-nav {
        display: none;
    }
    header .gnb-menu .mobile-nav {
        display: block;
        padding-top: 65px;
        text-align: center;
    }
    header .gnb-menu .mobile-nav ul {
        display: inline-block;
    }
    header .gnb-menu .mobile-nav ul li {
        float: left;
    }
    header .gnb-menu .mobile-nav ul li:not(:last-child) {
        margin-right: 20px;
    }
    header .gnb-menu .gnb-etc {
        display: none;
    }
    footer .f-menu1 {
        display: none;
    }
    footer .f-menu2 {
        line-height: 10px;
        padding-top: 20px;
    }
    footer .f-menu2 li a {
        font-size: 10px;
    }
    footer .f-info {
        padding-top: 20px;
        text-align: center;
    }
    footer .f-info h2 {
        display: none;
    }
    footer .adress {
        margin: 0 auto;
    }
    footer .adress li {
        display: inline-block;
        padding-left: 0;
        font-size: 11px;
    }
    footer .tel {
        text-align: center;
    }
    footer .tel dl:first-child {
        position: relative;
        display: inline-block;
    }
    /* footer .tel dl:first-child dd~dd::after {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 1px;
        height: 15px;
        background: #3a3b3d;
    } */
    footer .tel dl dt {
        font-size: 11px;
    }
    footer .tel dl dd {
        line-height: 20px;
        font-size: 11px;
    }
    footer .tel dl dd a span {
        font-size: 11px;
    }
}